**/*.bak
**/*.tmp
**/.#*
**/.DS_Store
**/._*
**/.idea
**/.vagrant
**/auth.json
**/nbproject
**/temp.php
**/test.php
.phpdoc
.phpunit.cache
.phpunit.result.cache
.vscode
admin/config/
composer.lock
ecs.php
phpunit.xml
public/config/
rector.php
shared/config/
target
vendor
phpstan.neon
